/* Tailwind CSSの読み込み命令 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Next.jsのデフォルトCSS変数 */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* bodyの定義はlayout.jsで行うため、ここでは削除します */

